.modal_login{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(68, 66, 66, 0.548);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    flex-shrink: 0;
    left: 0;
    top: 0;
}

.modal_login .modal_login-auth{
    padding: 20px;
    width: 300px;
    background-color: rgb(234, 244, 252);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    box-shadow: 8px 1px 92px 8px rgba(0,0,0,0.48);
-webkit-box-shadow: 8px 1px 92px 8px rgba(0,0,0,0.48);
-moz-box-shadow: 8px 1px 92px 8px rgba(0,0,0,0.48);
}

.modal_login .modal_login-auth div{
    width: 100%;
}

.modal_login .modal_login-auth div span{
    font-weight: 700;
    margin-right: 5px;
}

.modal_login .modal_login-auth div input{
    width: 90%;
    padding: 10px;
}

.modal_login .modal_login-auth button{
    padding: 6px;
    width: 160px;
    font-size: 1.2rem;
    border-radius: 8px;
    background-color: #c575cf;
    color: #fff;
    cursor: pointer;
}

.modal_login .modal_login-auth button:hover{
    background-color: #75cf7c;
}